<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="stringee-cordova-plugin"
    version="1.0.0">

    <!-- Thong tin dinh danh plugin -->
    <name>StringeeCordovaPlugin</name>
    <description>Add live video streaming to your Cordova Application</description>
    <license>Apache 2.0</license>
    <keywords>stringee</keywords>

    <!-- Tham chieu den file javascript code -->
    <asset src="www/stringee.js" target="stringee.js"/>

    <js-module src="www/stringee.js" name="stringee">
      <clobbers target="stringee" />
    </js-module>



    <!-- Android -->
    <platform name="android">

      <!-- Xac dinh ten cho Android package va cung la ten ma Cordova se dinh danh plugin -->
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Isocial">
          <param name="android-package" value="com.isocial.cordova.Isocial"/>
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <!-- Tham chieu den file source native -->
      <source-file src="src/android/Isocial.java" target-dir="src/com/isocial/cordova/"/>

    </platform>


    <!-- iOS -->
    <platform name="ios">
    <hook type="before_plugin_install" src="scripts/downloadiOSSDK.js" />

    <framework src="libicucore.tbd" />
    <framework src="libstdc++.dylib" />
    <framework src="libc++.dylib" />
    <framework src="libxml2.dylib" />
    <framework src="libsqlite3.dylib" />
    <framework src="libpthread.dylib" />
    <framework src="VideoToolbox.framework" />
    <framework src="src/ios/Stringee.framework" custom="true" />
    <framework src="AudioToolbox.framework" />
    <framework src="CoreData.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="GLKit.framework" />
    <framework src="EventKit.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="MapKit.framework" />
    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="Security.framework" />
    <framework src="CFNetwork.framework" />
    
      <config-file target="config.xml" parent="/*">
        <feature name="StringeePlugin">
          <param name="ios-package" value="StringeePlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <!-- Tham chieu den file source native -->
      <header-file src="src/ios/StringeePlugin.h" />
      <source-file src="src/ios/StringeePlugin.m" />

    </platform>

</plugin>
